.code-area .red {
	-fx-fill: #E95C5E;
}

.code-area .grey {
	-fx-fill: grey;
}

.code-area .green {
	-fx-fill: #66A899;
}

.code-area .lightGrey {
	-fx-fill: #B2BEB5;
}

.code-area .airForceBlue {
	-fx-fill: #5D8AA8;
}

.code-area .purple {
	-fx-fill: #C695C6;
}

.code-area .orange {
	-fx-fill: #F9AE58;
}

.code-area .lightSkyBlue {
	-fx-fill: #87CEFA;
}

.code-area .darkPink {
	-fx-fill: #FF55A3;
}

.code-area .yellow {
	-fx-fill: #FAFE66;
}

.code-area .brown {
	-fx-fill: #9F8170;
}