.root {
	-fx-background-color: #4F565E;
}

.menu-bar {
	-fx-background-color: #2F2F2F;
}

.label {
	-fx-text-fill: white;
}

.menu-bar .menu-button:hover {
	-fx-background-color: #866CBA;
}

.menu-bar .menu-button:showing {
	-fx-background-color: #866CBA;
}

.context-menu {
	-fx-background-color: #2F2F2F;
}

.menu-item {
	-fx-background-color: #2F2F2F;
}

.menu-item:hover {
	-fx-background-color: #866CBA;
}

.tab-header-background {
	-fx-background-color: #4F565E;
}

.tab {
	-fx-background-color: #2b323e;
	-fx-border-color: transparent transparent #303841 transparent;
}

.tab .tab-label {
	-fx-text-fill: grey;
}

.tab:selected {
	-fx-background-color: #303841;
	-fx-border-color: #866CBA transparent #303841 transparent;
}

.tab:selected .tab-label {
	-fx-text-fill: white;
}

.tab:selected .focus-indicator {
	-fx-border-color: transparent;
}

.code-area {
	-fx-background-color: #303841;
}

.code-area .text {
	-fx-fill: white;
}

.code-area .caret {
	-fx-stroke: white;
}

.code-area .selection {
	-fx-fill: #866CBA;
	-fx-opacity: 0.5;
}

.lineno { /* LineNumberFactory */
	-fx-background-color: #3b4550;
}

/* VirtualizedScrollBar */

.scroll-bar {
	-fx-background-color: #303841;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #696F75;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: #696F75;
}

.scroll-bar .decrement-button {
	-fx-background-color: #303841;
}

.scroll-bar .increment-button {
	-fx-background-color: #303841;
}

/* TreeView */

.tree-cell {
	-fx-background-color: #2d3338;
	-fx-text-fill: white;
}

.tree-view {
	-fx-background-color: #2d3338;
	-fx-border-color: #2d3338;
}

.tree-view .corner {
	-fx-background-color: #2d3338;
}

.tree-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: grey;
}

.tree-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: grey;
}