.code-area .comment {
	-fx-fill: #6272A4;
}

.code-area .cyan {
	-fx-fill: #8BE9FD;
}

.code-area .green {
	-fx-fill: #50FA7B;
}

.code-area .orange {
	-fx-fill: #FFB86C;
}

.code-area .pink {
	-fx-fill: #FF79C6;
}

.code-area .purple {
	-fx-fill: #BD93F9;
}

.code-area .red {
	-fx-fill: #FF5555;
}

.code-area .yellow {
	-fx-fill: #F1FA8C;
}