.code-area .red {
	-fx-fill: #E95C5E;
}

.code-area .grey {
	-fx-fill: grey;
}

.code-area .green {
	-fx-fill: #66A899;
}

.code-area .lightGrey {
	-fx-fill: #b2beb5;
}

.code-area .darkBlue {
	-fx-fill: #5d8aa8;
}

.code-area .purple {
	-fx-fill: #C695C6;
}

.code-area .orange {
	-fx-fill: #F9AE58;
}

.code-area .lightBlue {
	-fx-fill: #87cefa;
}

.code-area .darkPink {
	-fx-fill: #ff55a3;
}

.code-area .yellow {
	-fx-fill: #ffe135;
}

.code-area .brown {
	-fx-fill: #9f8170;
}