.code-area .keyword {
	-fx-fill: #E95C5E;
}

.code-area .semicolon {
	-fx-fill: grey;
}

.code-area .string {
	-fx-fill: #66A899;
}

.code-area .comment {
	-fx-fill: #b2beb5;
}

.code-area .number {
	-fx-fill: #5d8aa8;
}

.code-area .class {
	-fx-fill: #C695C6;
}

.code-area .chars {
	-fx-fill: #F9AE58;
}

.code-area .boolean {
	-fx-fill: #87cefa;
}

.code-area .single_quote_string {
	-fx-fill: #66A899;
}