.root {
    -fx-background-color: #4F565E;
}

.label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #2F2F2F;
}

.menu-bar .menu-button:hover {
    -fx-background-color: #a020f0;
}

.menu-bar .menu-button:showing {
    -fx-background-color: #a020f0;
}

.context-menu {
    -fx-background-color: #2F2F2F;
}

.menu-item {
    -fx-background-color: #2F2F2F;
}

.menu-item:hover {
    -fx-background-color: #a020f0;
}

.tab-pane .tab-header-area {
    -fx-background-color: #2F2F2F;
}

.tab {
    -fx-background-color: #303841;
    -fx-border-color: transparent transparent #303841 transparent;
}

.tab .tab-label {
    -fx-text-fill: white;
}

.tab-header-background {
    -fx-background-color: #4F565E;
}

.tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.tab:selected {
    -fx-border-color: #a020f0 transparent #303841 transparent;
}

.code-area {
    -fx-background-color: #303841;
}

.code-area .caret {
    -fx-stroke: white;
}

.code-area .text {
    -fx-fill: white;
}

.code-area .selection {
    -fx-fill: #a020f0;
}

.lineno { /* LineNumberFactory */
    -fx-background-color: #3b4550;
}

.scroll-bar { /* VirtualizedScrollBar */
    -fx-background-color: #303841;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #6e7f80;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #6e7f80;
}

.scroll-bar .decrement-button {
    -fx-background-color: #303841;
}

.scroll-bar .increment-button {
    -fx-background-color: #303841;
}

.highlight {
    -fx-background-color: #a020f0;
}