.root {
    -fx-background-color: #a020f0;
}

.label {
    -fx-text-fill: #dcdcdc;
}

.menu-bar {
    -fx-background-color: #0f0f0f;
}

.menu-bar .menu-button:hover {
    -fx-background-color: #313335;
}

.menu-bar .menu-button:showing {
    -fx-background-color: #313335;
}

.context-menu {
    -fx-background-color: #0f0f0f;
}

.menu-item {
    -fx-background-color: #0f0f0f;
}

.menu-item:hover {
    -fx-background-color: #313335;
}

.tab-pane .tab-header-area {
    -fx-background-color: #a020f0;
}

.tab {
    -fx-background-color: #0f0f0f;
    -fx-border-color: #0f0f0f;
}

.tab .tab-label {
    -fx-text-fill: #dcdcdc;
}

.tab-header-background {
    -fx-background-color: #a020f0;
}

.code-area {
    -fx-background-color: #0f0f0f;
}

.code-area .caret {
    -fx-stroke: #dcdcdc;
}

.code-area .text {
    -fx-fill: #dcdcdc;
    -fx-font-family: Arial;
    -fx-font-size: 110%;
}

.lineno { /* LineNumberFactory */
    -fx-background-color: #1c1c1c;
}

.scroll-bar { /* VirtualizedScrollBar */
    -fx-background-color: #1c1c1c;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #6e7f80;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #6e7f80;
}

.highlight {
    -rtfx-background-color: #cc00cc;
}