.root {
    -fx-background-color: #1c1c1c;
}

.label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #0f0f0f;
}

.menu-bar .menu-button:hover {
    -fx-background-color: #a020f0;
}

.menu-bar .menu-button:showing {
    -fx-background-color: #a020f0;
}

.context-menu {
    -fx-background-color: #0f0f0f;
}

.menu-item {
    -fx-background-color: #0f0f0f;
}

.menu-item:hover {
    -fx-background-color: #a020f0;
}

.tab-pane .tab-header-area {
    -fx-background-color: #a020f0;
}

.tab {
    -fx-background-color: #0f0f0f;
    -fx-border-color: transparent transparent #0f0f0f transparent;
}

.tab .tab-label {
    -fx-text-fill: white;
}

.tab-header-background {
    -fx-background-color: #a020f0;
}

.tab:selected .focus-indicator {
    -fx-border-color: #0f0f0f;
}

.tab:selected {
    -fx-border-color: yellow transparent #0f0f0f transparent;
}

.code-area {
    -fx-background-color: #0f0f0f;
}

.code-area .caret {
    -fx-stroke: white;
}

.code-area .text {
    -fx-fill: white;
}

.code-area .selection {
    -fx-fill: grey;
    -fx-opacity: 0.5;
}

.lineno { /* LineNumberFactory */
    -fx-background-color: #1c1c1c;
}

.scroll-bar { /* VirtualizedScrollBar */
    -fx-background-color: #1c1c1c;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #6e7f80;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #6e7f80;
}

.highlight {
    -rtfx-background-color: #a020f0;
}