.root {
	-fx-background-color: #4F565E;
}

.menu-bar {
	-fx-background-color: #2F2F2F;
}

.label {
	-fx-text-fill: white;
}

.menu-bar .menu-button:hover {
	-fx-background-color: #866CBA;
}

.menu-bar .menu-button:showing {
	-fx-background-color: #866CBA;
}

.context-menu {
	-fx-background-color: #2F2F2F;
}

.menu-item {
	-fx-background-color: #2F2F2F;
}

.menu-item:hover {
	-fx-background-color: #866CBA;
}

.tab-header-background {
	-fx-background-color: #4F565E;
}

.tab {
	-fx-pref-width: 200;
	-fx-background-color: #2B323E;
	-fx-border-color: transparent transparent #303841 transparent;
}

.tab .tab-label {
	-fx-text-fill: grey;
}

.tab:selected {
	-fx-background-color: #303841;
	-fx-border-color: #866CBA transparent #303841 transparent;
}

.tab:selected .tab-label {
	-fx-text-fill: white;
}

.tab:selected .focus-indicator {
	-fx-border-color: transparent;
}

.code-area {
	-fx-background-color: #303841;
}

.code-area .text {
	-fx-fill: #F8F8F2;
}

.code-area .caret {
	-fx-stroke: white;
}

.code-area .selection {
	-fx-fill: #866CBA;
	-fx-opacity: 0.5;
}

.lineno { /* LineNumberFactory */
	-fx-background-color: #303841;
}

.scroll-bar {
	-fx-background-color: #303841;
}

.scroll-bar:vertical .thumb {
	-fx-background-color: #696F75;
	-fx-pref-width: 5px;
}

.scroll-bar:horizontal .thumb {
	-fx-background-color: #696F75;
	-fx-pref-height: 5px;
}

.scroll-bar .decrement-button {
	-fx-background-color: #303841;
	-fx-padding: 2.25;
}

.scroll-bar .increment-button {
	-fx-background-color: #303841;
	-fx-padding: 2.25;
}

.tree-cell {
	-fx-background-color: #2D3338;
	-fx-text-fill: white;
}

.tree-view {
	-fx-background-color: #2D3338;
	-fx-border-color: #2D3338;
}

.tree-view .corner {
	-fx-background-color: #2D3338;
}

.tree-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: grey;
}

.tree-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: grey;
}

.text-input-dialog {
	-fx-fill: #2E3238;
}

.button {
	-fx-background-color: #4B4B4D;
	-fx-text-fill: white;
}

.msg-box {
	-fx-background-color: #2E3238;
}

.button:focused {
	-fx-background-color: #4B4B4D;
	-fx-text-fill: white;
}

.button:hover {
	-fx-background-color: #3E3E40;
	-fx-text-fill: white;
}