QMainWindow {
	background-color: #343B46;
}

QMenuBar {
	color: #F8F8F2;
	background-color: #2F2F2F;
}

QMenuBar::item::selected {
	color: white;
	background-color: #9966CC;
}

QMenu {
	color: #F8F8F2;
	background-color: #2F2F2F;
}

QMenu::item::selected {
	color: white;
	background-color: #9966CC;
}

QTabBar::tab {
	color: #F8F8F2;
	background-color: #353C44;
}

QTabBar::tab:selected {
	color: white;
	background-color: #2C3239;
}

QPlainTextEdit {
	color: #F8F8F2;
	background-color: #2C3239;
	selection-background-color: #9966CC;
	border: none;
}

QScrollBar {
	background-color: #2C3239;
	width: 10px;
}

QScrollBar::handle:vertical,
QScrollBar::handle:horizontal {
	border-radius: 3px;
	background-color: #787B82;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
	background-color: none;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
	background-color: none;
}

QAbstractScrollArea::corner {
	background-color: #292E34;
}

QTabWidget::pane {
	border: none;
}

QTabWidget {
	background-color: #2C3239;
	border: none;
}

QDialog {
	background-color: #2E3238;
}

QLabel {
	color: white;
}

QLineEdit {
	color: white;
	background-color: #3A3F46;
}

QLineEdit:focus {
	border: 1px solid #9966CC;
}

QDialogButtonBox > QPushButton {
	color: white;
	background-color: #22262A;
	border: 4px solid #22262A;
}

QDockWidget::title {
	background-color: #1E2229;
}

QTreeView {
	color: white;
	font-size: 14px;
	background-color: #1E2229;
	border: none;
}